/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
    height: 100%;
    width:100%;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fcfcfc;
    position: relative;
}

.container{
    padding: 0;
}

a {
    color: rgba(178, 224, 224, 1);
}

a:hover {
    color: rgb(19, 97, 97);
}

/*Responsive Text*/

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
        }
    }
@media all and (max-width: 1100px) { /* screen size until 1200px */
    body {
        font-size: 1.35em; /* 1.35x default size */
        }
    }
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.1em; /* 1.2x default size */
        }
    .slide1{
        font-size: 1.1em;
    }
    .slide2.content-block{
        width: 80% !important;
    }
    .content-bios{
        width: 85% !important;
    }
    }
@media all and (max-width: 767px) { /* screen size until 767px ---where cols go to xs */
    body {
        font-size: 1.0em; /* default size */
        }
    .slide1{
        font-size: 1.5em;
    }
    .slide2-text p {
    font-size: 1.1em !important;
    }
    .ranch-photo{
        line-height: 200px !important;
    }
    .slide2.content-block{
        width: 90% !important;
    }
    .content-bios{
        width: 90% !important;
        height: 50% !important;
    }
    .full-page.slide1{
        height: 220% !important;
    }
    }
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        table-layout: fixed;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.0em; /* 0.8x default size */
        }
    .slide1{
        font-size: 1.3em;
    }
    .content-bios{
        width: 95% !important;
    }
    }

/*Image Crawl sizing*/

html{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.full-width{width:100%;height:100%;background-position:center;background-size:cover;}
.horizontal{width:100%;}

@font-face {
    font-family: 'Learning Curve';
    src: url(../fonts/LearningCurve_OT.otf);
}

/*HEADER STUFF --------------------------------------------------------->*/

.full-wrapper {
height: calc(100% - 70px);
height: -o-calc(100% - 70px); /* opera */
height: -webkit-calc(100% - 70px); /* google, safari */
height: -moz-calc(100% - 70px); /* firefox */
    width: 100%;
/*  margin-bottom: 60px;*/
}

.caption {
    float: right;
}
.caption { 
    height: 30%;
    position: absolute;
    right: calc(100% - 40%);
    right: -o-calc(100% - 40%); /* opera */
    right: -webkit-calc(100% - 40%); /* google, safari */
    right: -moz-calc(100% - 40%); /* firefox */
    left: 0%;
    bottom: calc(100% - 30%);
    bottom: -o-calc(100% - 30%); /* opera */
    bottom: -webkit-calc(100% - 30%); /* google, safari */
    bottom: -moz-calc(100% - 30%); /* firefox */
    font-family: 'Amatic SC', cursive;
}

.title {
    min-width: 300px;
    max-width:450px;
    width: 80%;
    padding: 6% 0 0 6%;
    display: block;
}

/*NAVBAR STUFF --------------------------------------------------------->*/

#navbar-wrapper.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    padding-top: 5px;
    height: 70px;
    font-family: 'Amatic SC', cursive;
    font-size: 27px;
    color: #fff !important;
	background-color: rgba(54, 160, 152, 0.93);
	border: none;
    border-radius: 0;
}
.navbar-default .navbar-text {
	color: #fff;
}
.navbar-default .nav-justified > li > a {
	color: #fff ;
}
.navbar-default .nav-justified>.active>a {
    text-decoration: underline;
    background-color: transparent;
}
.collapsing, .collapse.in{
    background-color: rgba(54, 160, 152, .93);
}
.navbar-toggle{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

/*what the BOXES do when you hover over them*/
.navbar-default .nav-justified > li > a:hover, .navbar-default .nav-justified > li > a:focus {
	text-decoration: underline;
    color: #fff !important;
    background-color: transparent;
}
.navbar-default .nav-justified > .active > a, .navbar-default .nav-justified > .active > a:hover, .navbar-default .nav-justified > .active > a:focus {
	color: #fff;
	background-color: transparent;
    text-decoration: underline;
}

@media (max-width: 767px) {
	.navbar-default .nav-justified .open .dropdown-menu > li > a {
		color: #6e6e6e;
	}
	.navbar-default .nav-justified .open .dropdown-menu > li > a:hover, .navbar-default .nav-justified .open .dropdown-menu > li > a:focus {
		color: #f0f0f0;
	}
	.navbar-default .nav-justified .open .dropdown-menu > .active > a, .navbar-default .nav-justified .open .dropdown-menu > .active > a:hover, .navbar-default .nav-justified .open .dropdown-menu > .active > a:focus {
		color: #f0f0f0;
		background-color: #6e6e6e;
	}
}

/*GENERAL CONTENT STUFF --------------------------------------------------------->*/

.full-page{
    height: 115%;
    width: 100%;
    display: table;
}

.centered-content{
    margin-top: 35px;
    display: table-cell;
/*    text-align: center;*/
    vertical-align: middle;
    height: 70%;
}

.content-block{
    display: block;
    margin: 0 auto;
    width: 70%;
}

.text-justify {
    text-align: justify;
}

.col-middle {
    vertical-align:middle;
}

.col-top{
    vertical-align: top;
}

/*SLIDE1 STUFF --------------------------------------------------------->*/

.slide1{
    background-color: #efefef;
    height: 115%;
    padding-bottom: 15%;
}

.content-bios{
    height: 100%;
}

.cartoonitems{
    margin-top: 25%;
    height: 70%;
}

.cartoonpictures{
    height: 100%;
    padding: 0;
}

.cartoonpictures:hover{
    cursor: pointer;
}

.cartoondiv{
    height: 100%;
}

.Ariane{
    height: 100%;
    background-image: url('../img/A+Dcartoon-01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Dustyn{
    height: 100%;
    background-image: url('../img/A+Dcartoon-02.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.speech{
    height:100%;
}

.bubble {
    position: relative;
    /*
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);*/
    
    width: 100%;
    height: auto;
    padding: 12px;
    background: rgb(54, 160, 152);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    border: 3px solid rgb(54, 160, 152);
    color: #f0f0f0;
    font-weight: 300;
}

.b-left {
    top: 15%;
}
.b-right {
    top: 5%;
}

.b-left:after {
    right: -20px;
    content: "";
    position: absolute;
    top: 5%;
    border-style: solid;
    border-width: 15px 0 15px 20px;
    border-color: transparent rgb(54, 160, 152);
    display: block;
    width: 0;
    z-index: 1;
    
}

.b-right:after {
    left: -20px;
    content: "";
    position: absolute;
    top: 5%;
    border-style: solid;
    border-width: 15px 20px 15px 0px;
    border-color: transparent rgb(54, 160, 152);
    display: block;
    width: 0;
    z-index: 1;
}

/*SLIDE2 STUFF --------------------------------------------------------->*/

.content-location{
    padding: 200px 0;
}

.slide2{
    background-color: rgba(178, 224, 224, 1);
}

.slide2-header{
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 4.5em;
    color: #292929;
    margin-bottom: 0;
    padding: 0;
    line-height: 0;
}

.slide2-subtitle{
    font-family: 'Learning Curve', cursive;
    color: #484848;
    font-size: 2.5em;
    text-transform: lowercase;
    margin-bottom: 20px;
    margin-top: 0;
    display: none;
}

.slide2-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #292929;
    font-size: 1.2em;
    text-align: justify;
    margin-top: 15px;
}

.address{
    font-weight: 400;
    color: rgb(19, 97, 97);
    margin-bottom: 0;
}

.content-links{
    margin-top: 40px;
    height: 80px;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    background-color: rgba(54, 160, 152, 1);
}

.slide2-title{
    margin-top: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

.slide2 .content-block{
    max-width: 1000px;
}

.slide2-text p {
    font-size: .95em;
    margin-bottom: 5px;
}

.slide2-text {
    margin-bottom: 15px;
}

.ranchweb{
    margin-top: 10px !important;
    width: 100% !important;
    margin-bottom: 15px;
}

.location-extra {
    margin-top: 30px;
}

.ranch-photo{
    line-height: 306px;
    overflow-y: hidden;
    height: 100%;
    background-image: url(/img/outdoor-seating.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ranch-photo-container{
    height: 100%;
}

.location{
    height: 60px;
    border-radius: 0;
    border: none;
/*    border: 5px solid rgba(178, 224, 224, 1);*/
    background-color: rgba(54, 160, 152, 1);
    color: #fff;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 1.5em;
}

.location:hover{
    background-color: #fff;
    border: none;
}

.links-container{
    margin-top: 10px;
    padding:0;
}

.location-links{
    padding: 0;
}

.content-links li{
    text-decoration: none
}

.link-left{
    padding-right: 5px !important;
}

.link-right{
    padding-left: 5px !important;
}

/*SLIDE3 STUFF --------------------------------------------------------->*/

.slide3{
    background-color: rgb(19, 97, 97);
}

            /*image gallery specifics--------------------->*/

.thumb-image{
    width: 100%;
    border-radius: 5px;
}

.thumb-image:hover{
    opacity: .5;
}

.thumb-container{
    padding: 8px
}

/*SLIDE4 STUFF --------------------------------------------------------->*/

.slide4{
    background-color: #efefef;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2em;
}

.form-legend{
    font-weight: 700;
    font-size: 3em;
}

#contactForm{
    background-color: transparent;
    border-color: transparent;
}

.control-group{
    font-size: 1.5em;
    line-height: 1.5em;
}

.question{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
}

.slide4-header{
    font-size: 2.75em;
    line-height: 2.75em;
}

.deadline{
    font-size: 1em !important;
}


/*FOOTER STUFF --------------------------------------------------------->*/

footer {
    height: 70px;
    width: 100%;
    display: table;
/*    width: 90%;*/
    margin: auto;
    background-color: rgba(54, 160, 152, 0.93);
    color: #fff;
    text-transform: lowercase;
    font-size: 1.5em;
    font-family: 'Learning Curve', cursive;
}

footer .content-block {
    padding-top: 15px;
    text-align: left;
}